[run]
omit =
    # Ignore vendored packages
    */vendor/*
    # Ignore pysideuic generated packages
    */ui/*
    # Ignore widgets, for now as they are prone to change with experimentation
    */widgets/*